Area calculator

In [7]:
def Calculate_area(shape,dimensions):
  if shape=="rectangle":
    l,b=dimensions
    print("area ",l*b)
  elif shape=="circle":
    r=dimensions
    print("area ",3.14*r**2)
  elif shape=="square":
    s=dimensions
    print("area",s*s)


Calculate_area("circle",10)
Calculate_area("rectangle",(2,5))
Calculate_area("square",(5))

area  314.0
area  10
area 25

String Manipulation

In [8]:
def reverse_words(text):
    w = text.split()
    rev = w[::-1]
    new_text = ' '.join(rev)
    print(new_text)


reverse_words("Hello world! This is a test.")

test. a is This world! Hello

List Statistics

In [18]:
def analyze_list(numbers):
    min_value = min(numbers)
    max_value = max(numbers)
    avg_value = sum(numbers) / len(numbers)
    print({'minimum': min_value, 'maximum': max_value, 'average': avg_value})

analyze_list([20000, 580808, 824802, 14284, 32490])

{'minimum': 14284, 'maximum': 824802, 'average': 294476.8}

Filtering with Lambda

In [16]:
def filter_short_names(names, max_length):
    filter_names = list(filter(lambda x: len(x) < max_length, names))
    print(filter_names)


filter_short_names(["Apple", "Banana", "Orange", "Grapes", "Pineapple"],7)

['Apple', 'Banana', 'Orange', 'Grapes']

 Text Analyzer

In [21]:
def analyze_text(text):
    words = text.split()
    num_words = len(words)
    num_characters = len(text.replace(" ", ""))
    word_counts = {}
    for word in words:
        word_counts[word] = word_counts.get(word, 0) + 1
    most_frequent_word = max(word_counts, key=word_counts.get)
    result = {
        'num_words': num_words,
        'num_characters': num_characters,
        'most_frequent_word': most_frequent_word
    }

    print(result)


analyze_text("Hi i am gautham and i am studying in punjab")

{'num_words': 10, 'num_characters': 34, 'most_frequent_word': 'i'}